<nav class="pagination" role="navigation">
    <a class="newer-posts button-circle direction-left icon icon-arrow" href="{{page_url prev}}" data-direction="-1" style="display: none;"></a><span class="page-number">{{page}} of {{pages}}</span><a class="older-posts button-circle icon icon-arrow" href="{{page_url next}}" data-direction="1" style="opacity: 0;"></a>
</nav>
