<nav class="pagination" role="navigation">
    <a class="newer-posts" href="{{page_url prev}}" data-direction="-1" style="display: none;">&larr;</a><span class="page-number">{{page}} of {{pages}}</span><a class="older-posts" href="{{page_url next}}" data-direction="1" style="opacity: 0;">&rarr;</a>
</nav>
