<nav class="pagination" role="navigation">
    {{#unless prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr;</a>
    {{/unless}}
    <span class="page-number">{{page}} of {{pages}}</span>
    {{#unless next}}
        <a class="older-posts" href="{{page_url next}}">&rarr;</a>
    {{/unless}}
</nav>