$header-margin-padding: 70px 0;
$header-margin-padding-mobile: 30px 0;

.post-page {

  a {
    color: #000000;
  }

  .post-head {
    text-align: center;
    padding: $header-margin-padding;
    position: relative;
    background-size: cover;

    &:before{
      display: block;
      content: ' ';
      background-color: rgba(255, 255, 255, 0.65);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all 0.5s ease;
    }

    &.no-cover:before {
      content: '';
    }

    a {
      border-bottom: 0;
    }

  }

  .post-head.no-cover .blog-logo .separator {
    display: block;
  }

  .blog-logo {
    position: relative;
    z-index: 2;

    .separator {
      display: none;
      position: absolute;
      width: 100%;
      height: 50%;
      top: 0;
      border-bottom: 1px solid #EBF2F6;
      z-index: 1;
    }

    img {
      width: 150px;
      height: 150px;
      position: relative;
      z-index: 2;
      border-radius: 100%;
    }
  }

  .blog-title {
    text-transform: uppercase;
    margin: 0;
    color: #000000;
    position: relative;
    margin-top: 1rem;
  }

  .blog-title,
  .post-title {
    line-height: 2rem;
    text-overflow: ellipsis;
  }

  .content {
    width: $post-width;
    padding: $post-padding;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .post-footer {
    border-top: 1px solid #EBF2F6;
    position: relative;
    margin: $share-font-size*1.25 0 0 0;
    padding: $share-font-size*0.75 0 0 0;
  }

  .share {
    position: absolute;
    left: 50%;
    margin-left: (-1*($share-font-size * $share-count)/2) - ($share-margin * ($share-count - 1));
    background: #ffffff;
    top: -($share-font-size/2);

    a {
      color: #000000;
      border: 0;
      opacity: 0.5;
      font-size: 40px;
      margin: 0 $share-margin;
      transition: all 0.5s ease-in-out;

      &:hover{
        opacity: 1;
      }
    }
  }

  + .site-footer {
    text-align: center;
    margin: 15px 0;
    line-height: 1rem;

    a {
      color: #000000;
    }
  }

}

// READ NEXT BLOCK

.read-next {
  margin: 20px auto;
  width: $post-width;
  padding: $post-padding;

  h2,
  p {
    text-align: center;
    position: relative;
  }

  .read-next-container {
    display: table;
    min-width: 50%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 25px 0;
  }

  .read-next-story {
    border: 1px solid #DDDDDD;
    height: $read-next-height;
    width: 50%;
    margin: 10px auto;
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;

    border-radius: 5px;

    &:before{
      display: block;
      content: ' ';
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all 0.5s ease;
    }

    &:hover:before{
      background-color: rgba(255, 255, 255, 0.65);
    }
  }

  .post-wrapper {
    padding: 30px 20px;
  }

  .notice,
  .date {
    position: absolute;
    color: #373737;
  }

  .notice {
    left: 20px;
    top: 10px;
  }

  .date {
    bottom: 10px;
    left: 20px;
  }

  .next .notice,
  .next .date {
    left: initial;
    right: 20px;
  }

}

@media (max-width: $post-width) {
  .post-page {

    .content {
      width: auto;

      img {
        max-width: 100%;
      }
    }
  }

  .read-next {
    width: auto;

    .read-next-container {
      display: block;
    }

    .read-next-story {
      display: block;
      height: auto;
      width: 80%;
    }
  }
}

@media (max-width: $post-mobile-width) {
  .post-page {

    .post-head {
      padding: $header-margin-padding-mobile;
    }

    .blog-logo {
      img {
        height: $header-mobile-size;
        width: $header-mobile-size;
      }
    }

  }

  .read-next {
    .read-next-story {
      height: auto;
      width: 100%;
    }
  }
}

@import "print";
