html,
.site-wrapper {
  height: 100%;
}

body {
  font-family: '.SFNSText-Regular', 'Museo Sans', Candara, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}

* {
  box-sizing: border-box;
}

a {
  transition: border-color .2s ease-in-out;
  border-bottom: 1px dotted;
  color: #fff;
  text-decoration: none;

  &:hover {
    border-color: transparent;
  }
}

p {
  margin: 1rem 0;

  img {
    max-width: 100%;
  }
}

.hidden {
  visibility: hidden;
  display: none;
}

.no-scroll {
  @include ios-overflow-hidden();
}

@media print {
  @page {
    margin: 20px 35px;
  }

  html,
  body {
    height: auto;
  }

  a:after {
    content: '\000A0 (' attr(href) ')';
    display: inline-block;
  }

  footer.site-footer a:after {
    content: '';
  }
}
