@import "variables";

.cover-container {
  display: block;
  height: auto;
  min-height: 100%;

  > .section-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;

    section {
      //display: block;
      //width: 50%;
      height: 100%;
      display: table-cell;
      width: 50%;

      &:first-child {
        //float: left;
      }

      &:last-child {
        //float: right;
      }

      > article {
        display: block;
      }
    }

    &:after {
      clear: both;
      content: " ";
      display: table;
    }
  }
}

.icon {
  &.icon-twitter {
    background-image: url(../res/twitter.png);
  }

  &.icon-facebook {
    background-image: url(../res/facebook.png);
  }

  &.icon-vk {
    background-image: url(../res/vk.png);
  }

  &.icon-github {
    background-image: url(../res/github.png);
  }

  &.icon-linkedin {
    background-image: url(../res/linkedin.png);
  }

  &.icon-email {
    background-image: url(../res/email.png);
  }
}

@media (max-width: $cover-mobile-width), (max-height: $cover-mobile-height) {
  .cover-container {
    > .section-container {
      section:first-child,
      section:last-child {
        display: block;
        float: none;
        width: 100%;
      }
    }
  }
}
