$delays: (.75s, 1s, 1.25s, 1.5s, 1.75s, 2s, 3s, 3.5s); // move out

& {
  text-align: center;
  padding-top: .5rem;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 10px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.social {
  text-align: center;
  height: 5.3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  @for $i from 1 through length($delays) {
    a:nth-child(#{$i}) {
      //animation: appear 1s forwards, nth($delays, $i);
    }
  }

  a {
    text-decoration: none;
    border-bottom: 0;
    background-repeat: no-repeat;
    background-size: $icon-social-font-size;
    background-position: 50%;
    display: inline-block;
    margin: 10px;

    &:hover {

      &:before {
        width: $icon-social-size-hover;
        height: $icon-social-size-hover;
        background-color: rgba(255, 255, 255, .175);
      }
    }
  }

  a:before {
    border: 1px solid #fff;
    border-radius: 100%;
    display: block;
    width: $icon-social-size;
    height: $icon-social-size;
    content: '';
    transition: all .2s ease-in-out;
  }
}


@media (max-width: $cover-mobile-width), (max-height: $cover-mobile-height) {

  & {
    padding-top: 0;
  }

  img {
    height: $header-mobile-size;
    width: $header-mobile-size;
  }

  h1 {
    padding: 0 .5rem;
    line-height: 2rem;
  }

  .social {
    height: auto;
  }

}
