body.home-template,
body.archive-template,
body.tag-template {
  height: 100%;
  background: $cover-background;

  @include respond(mobile) {
    height: auto;
  }
}

body.animation {
  @include ios-overflow-hidden();
}

.cover-container {
  display: flex;
  align-content: space-between;
  flex-flow: column nowrap;
  height: 100%;
  background-size: cover;
  background-position: 50% 0;
  color: #fff;

  &.no-cover {
    background: $cover-color;
  }

  @include respond(mobile) {
    background-position: 0 0;
    min-height: 100vh;
  }

  > header {
    @import "header";
  }

  > .section-container {
    flex-grow: 2;

    @import "sections";
  }

  > footer {
    @import "footer";
  }
}

@import "_print";
