$delays: (0.75s, 1s, 1.25s, 1.5s, 1.75s, 2s, 2.25s);

@include keyframes(wrapper) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cover {
  display: table;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #ffffff;
  opacity: 0;
  @include animation(wrapper 1s forwards);

  &.no-cover {
    background: #375764;
  }

  .header {
    height: 33%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    img {
      width: 150px;
      height: 150px;
      @include border-radius(100px);
    }
  }

  // Header part
  h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
  }

  .social {
    text-align: center;
    height: 100px;

    ul {
      list-style: none;
      padding: 0;
    }

    @for $i from 1 through length($delays) {
      li:nth-child(#{$i}) {
        display: inline-block;
        margin: 0 0.5em;
        width: 70px;
        height: 90px;
        line-height: 80px;
        opacity: 0;
        @include animation(wrapper 1s forwards, nth($delays, $i));
      }
    }

    a {
      text-decoration: none;
      border-bottom: 0;
      color: #ffffff;
      font-size: 14px;
      @include transition(all 0.2s ease-in-out);

      &:hover {
        font-size: 16px;

        &:before {
          background-color: rgba(255, 255, 255, 0.175);
        }
      }
    }

    a:before {
      border: 1px solid #ffffff;
      @include border-radius(100%);
      display: block;
      width: 2.5em;
      height: 2.5em;
      line-height: 2.5em;
      font-size: 1.75em;
      text-align: center;
    }
  }

  // Blog description && posts
  .container {
    display: table-row;
  }

  .container-wrapper {
    display: table;
    height: 90%;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 5%;
  }

  .blog-description,
  .blog-stories {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    opacity: 0;
    @include animation( wrapper 1s forwards, nth($delays, length($delays)) );
  }

  .blog-description {
    text-align: center;
    padding: 0 2.5% 0 0;
  }

  .blog-stories {
    padding: 0 0 0 2.5%;
  }

  .blog-description-wrapper,
  .blog-stories-wrapper {
    border: 1px dashed #ffffff;
    @include border-radius(5px);
    height: 100%;
    padding: 20px;
  }

}

footer.site-footer {
  color: #FFFFFF;
  position: relative;
  top: -3.5em;
  text-align: center;
  opacity: 0;
  @include animation( wrapper 1s forwards, nth($delays, length($delays)) );
}

@import "posts";
@import "pagination";
