& {
  text-align: center;
  font-size: .75rem;
  position: relative;

  @include animation(appear-bottom, 1s appear-bottom $cover-content-delay ease-in-out both);
}

.copyright {
  line-height: .75rem;
}
