& {
  text-align: center;
  padding-top: .5rem;
  position: relative;

  @include animation(appear 1s ease-in-out);
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 10px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.social {
  $transition: all .2s ease-in-out;

  text-align: center;
  height: 5.3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  @for $i from 1 through length($cover-icons-delays) {
    a:nth-child(#{$i}) {
      position: relative;

      @include animation(1s appear-top nth($cover-icons-delays, $i) ease-in-out both);
    }
  }

  a {
    text-decoration: none;
    border-bottom: 0;
    background-size: $icon-social-font-size;
    background-position: 50%;
    margin: 10px;
    transition: $transition;
    width: $icon-social-size-hover;
    height: $icon-social-size-hover;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-size: $icon-social-font-size-hover;

      &:before {
        width: $icon-social-size-hover;
        height: $icon-social-size-hover;
        background-color: rgba(255, 255, 255, .175);
      }
    }
  }

  a:before {
    border: 1px solid #fff;
    border-radius: 100%;
    display: block;
    width: $icon-social-size;
    height: $icon-social-size;
    content: '';
    transition: $transition;
  }
}


@media (max-width: $cover-mobile-width), (max-height: $cover-mobile-height) {

  & {
    padding-top: 0;
  }

  img {
    height: $header-mobile-size;
    width: $header-mobile-size;
  }

  h1 {
    padding: 0 .5rem;
    line-height: 2rem;
  }

}

@media (max-height: $cover-tablet-height) {
  img {
    width: $header-tablet-size;
    height: $header-tablet-size;
  }

  .social {
    height: 4.3rem;
    margin-top: .5rem;

    a {
      width: $icon-tablet-social-size-hover;
      height: $icon-tablet-social-size-hover;
      background-size: $icon-tablet-social-font-size;

      &:hover {
        background-size: $icon-tablet-social-font-size-hover;

        &:before {
          width: $icon-tablet-social-size-hover;
          height: $icon-tablet-social-size-hover;
        }
      }

      &:before {
        width: $icon-tablet-social-size;
        height: $icon-tablet-social-size;
      }
    }
  }
}

@media (max-width: $cover-tablet-width), (max-height: $cover-tablet-height) {
  .social {
    height: auto;
  }
}
