.pagination {
  a {
    vertical-align: middle;

    &.icon.icon-loader {
      color: transparent;
      border: 0;

      &:hover {
        background-color: initial;
      }
    }
  }

  span {
    padding: $paginator-span-margin;
    vertical-align: middle;
  }

}
