$pagination-arrow-size: 22px;

.pagination {
  a {
    @include border-radius(100px);

    border: 1px solid $pagination-color;
    display: inline-block;
    height: $pagination-arrow-size;
    line-height: 100%;
    text-align: center;
    width: $pagination-arrow-size;

    &:hover {
      background-color: rgba(255, 255, 255, .175);
    }

    // fff
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      line-height: $pagination-arrow-size;
    }
  }

  span {
    padding: $paginator-span-margin;
  }

}
