.pagination {
  a {
    @include border-radius(100px);

    border: 1px solid $pagination-color;
    display: inline-block;
    line-height: 22px;
    text-align: center;
    width: 22px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.175);}
    }

    span {
      padding: $paginator-span-margin;
    }
  }
