.blog-stories {
  h2 {
    margin: 0;
    display: inline-block;
  }

  nav {
    display: inline-block;
    float: right;
  }

  h3, time {
    font-size: 16px;
  }

  time {

  }

  .date {
    color: rgba(255, 255, 255, 0.75);
  }
}


