.blog-stories,
.blog-description {

  .blog-stories-header {
    position: relative;

    h3 {
      position: absolute;
      bottom: -15px;
      left: 5px;
    }
  }

  article {
    margin: 1rem 0;
  }

  h2 {
    margin: 0;
    display: inline-block;
  }

  nav {
    display: inline-block;
    float: right;
  }

  h3, time {
    font-size: 16px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .date {
    color: rgba(255, 255, 255, 0.75);
  }
}
