@media print {

  .site-wrapper {
    height: auto;
  }

  .cover {
    height: auto;
    color: #000000;

    header {
      display: inline-block;
      vert-align: top;
      height: 250px;
    }

    .header {
      text-align: left;
      display: block;
    }

    h1 {
      display: inline-block;
      vertical-align: top;
      margin-top: 15px;
      margin-left: 15px;
    }

    .social {
      display: inline-block;
      position: absolute;
      left: 10rem;
      top: 4rem;
      right: 0;

      ul {
        display: inline-block;
        text-align: left;
        margin: 0;
        width: 100%;
      }

      li {
        // because of n-th child
        display: block !important;
        width: auto !important;
        height: auto !important;
        line-height: inherit !important;
      }
      a {
        color: #000000;

        &:before {
          display: inline;
          border: 0;
          line-height: inherit;
        }

        &:after {
          content: "\000A0 \000A0 " attr(href);
          display: inline;
        }
      }
    }

    .container {
      display: block;
    }

    .container-wrapper {
      display: block;
      padding: 0;
    }

    .blog-description,
    .blog-stories {
      display: block;
      width: auto;
    }

    .blog-description-wrapper,
    .blog-stories-wrapper {
      border: 0;
      text-align: left;
    }

    .blog-stories {
      .date {
        color: #000000;
      }

      a {
        color: #000000;
      }
    }

  }

  .cover-container  {
    height: auto;
    background-image: none !important;

    & + .site-footer {
      color: #000000;
      margin: 30px 0;

      a {
        color: #000000;
      }
    }
  }

}
