& {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 1rem;
  min-height: 0; /* firefox */

  @include animation(appear-bottom, 1s appear-bottom $cover-content-delay ease-in-out both);
}

@mixin enable-sections-folding {
  section > article.toggled {
    flex: 0;

    .toggler {
      opacity: 1;
    }
  }
}

@mixin disable-sections-folding {
  section > article.toggled {
    flex: 1;

    &:hover {
      cursor: default;
    }

    .toggler {
      opacity: 0;
    }
  }
}

section {
  flex: 1 50%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  max-width: $container-max-width / 2;
  max-height: 100vh;

  > article {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    border: 1px dashed #fff;
    border-radius: 5px;
    height: 100%;
    padding: 0 1.5rem 1.5rem;
    position: relative;
    margin-bottom: 2rem;
    transition: all .5s ease-in-out;
    min-height: 0; /* firefox */
    min-height: 4.25rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.toggled:hover {
      cursor: pointer;

      & .button-circle {
        @extend .button-circle:hover;
      }
    }

    .toggler {
      opacity: 0;
      transition: opacity .5s ease-in-out;
    }
  }
}

header {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

main {
  padding-right: 10px;
  overflow-y: auto;

  &.content {
    transition: height .5s ease-in-out;
  }
}

.description p:first-child {
  margin-top: 0;
}

h2 {
  display: inline-block;
}

h3,
h4,
time {
  font-size: 1rem;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

h3 {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.date {
  color: rgba(255, 255, 255, .6);
}

// projects folders
@media (max-height: $cover-mobile-height-projects) {
  @include enable-sections-folding;
}

@media (max-width: $cover-mobile-width), (max-height: $cover-mobile-height) {

  & {
    display: block;
    padding: .5rem;
    flex-grow: 0;
  }

  section {
    padding: .5rem;
    max-width: 100%;
    max-height: initial;
  }

  @include disable-sections-folding;

}

@media (max-width: $cover-mobile-width) {
  .changer {
    display: none;
  }

  @include disable-sections-folding;
}

@import "pagination";
