& {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 1rem;
  min-height: 0; /* firefox */

  position: relative;
  animation: appear-bottom 1s ease-in-out;
  animation-delay: $cover-content-delay;
}

section {
  flex: 1 50%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  max-width: $container-max-width / 2;

  > article {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    border: 1px dashed #fff;
    border-radius: 5px;
    height: 100%;
    padding: 0 1.5rem 1.5rem;
    min-height: 0; /* firefox */
  }
}

header {
  position: relative;
}

main {
  flex: 1;
  padding-right: 10px;
  overflow-y: auto;
}

.description p:first-child {
  margin-top: 0;
}

h2 {
  display: inline-block;
}

nav {
  float: right;
  margin-top: 1.5rem;
}

h3,
h4,
time {
  font-size: 1rem;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

h3 {
  position: absolute;
  bottom: 0;
  left: 5px;
}

.date {
  color: rgba(255, 255, 255, .75);
}


@media (max-width: $cover-mobile-width), (max-height: $cover-mobile-height) {

  & {
    display: block;
    padding: .5rem;
    flex-grow: 0;
  }

  section {
    padding: .5rem;
    max-width: 100%;
  }

}

@import "pagination";
