.post-page {

  a {
    color: #000000;
  }

  .post-head {
    text-align: center;
    margin: 70px 0;
  }

  .blog-logo {
    border-top: 1px solid #EBF2F6;
    position: relative;
    margin: 6rem 0 0 0;
    padding: 6rem 0 0 0;

    img {
      position: absolute;
      left: 50%;
      margin-left: -75px;
      top: -75px;
      width: 150px;
      height: 150px;
      @include border-radius(100px);
    }
  }

  .blog-title {
    text-transform: uppercase;
    margin: 0;
    color: #000000;
  }

  .blog-title,
  .post-title {
    line-height: 2rem;
  }

  .content {
    width: $post-width;
    padding: $post-padding;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .post-footer {
    border-top: 1px solid #EBF2F6;
    position: relative;
    margin: $share-font-size*1.25 0 0 0;
    padding: $share-font-size*0.75 0 0 0;
  }

  .share {
    position: absolute;
    left: 50%;
    margin-left: (-1*($share-font-size * $share-count)/2) - ($share-margin * ($share-count - 1));
    background: #ffffff;
    top: -($share-font-size/2);

    a {
      color: #000000;
      border: 0;
      opacity: 0.5;
      font-size: 40px;
      margin: 0 $share-margin;
      @include transition(all 0.5s ease-in-out);

      &:hover{
        opacity: 1;
      }
    }
  }

  + .site-footer {
    text-align: center;
    margin: 15px 0;
    line-height: 1rem;

    a {
      color: #000000;
    }
  }

}

// READ NEXT BLOCK

.read-next {
  margin: 20px auto;
  width: $post-width;
  padding: $post-padding;

  h2,
  p {
    text-align: center;
    position: relative;
  }

  .read-next-container {
    display: table;
    min-width: 50%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 25px 0;
  }

  .read-next-story {
    border: 1px solid #DDDDDD;
    height: $read-next-height;
    width: 50%;
    margin: 10px auto;
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;

    @include border-radius(5px);

    &:before{
      display: block;
      content: ' ';
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all 0.5s ease;
    }

    &:hover:before{
      background-color: rgba(255, 255, 255, 0.65);
    }
  }

  .post-wrapper {
    padding: 30px 20px;
  }

  .notice,
  .date {
    position: absolute;
    color: #373737;
  }

  .notice {
    left: 20px;
    top: 10px;
  }

  .date {
    bottom: 10px;
    left: 20px;
  }

  .next .notice,
  .next .date {
    left: initial;
    right: 20px;
  }

}

@media (max-width: $post-width) {
  .post-page {

    .content {
      width: auto;

      img {
        max-width: 100%;
      }
    }
  }

  .read-next {
    width: auto;

    .read-next-container {
      display: block;
    }

    .read-next-story {
      display: block;
      width: 80%;
    }
  }
}

@media (max-width: $post-mobile-width) {
  .post-page {

    .blog-logo {
      img {
        width: $header-mobile-size;
        height: $header-mobile-size;
        margin-left: -1 * ($header-mobile-size / 2);
        top: -1 * ($header-mobile-size / 2);
      }
    }

  }

  .read-next {
    .read-next-story {
      width: 100%;
    }
  }
}

@import "print";
