$cover-icons-delays: (.75s, 1s, 1.25s, 1.5s, 1.75s, 2s);
$cover-content-delay: 2.1s;

@function getAnimationChangeProps($animationName) {
  $opacityTopAnims: (appear-top, appear-bottom);

  @if $animationName == appear {
    @return opacity;
  }

  @else if index($opacityTopAnims, $animationName) {
    @return opacity, top;
  }

  @else if $animationName == rotate {
    @return transform;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear-top {
  0% {
    top: -25px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes appear-bottom {
  0% {
    top: 25px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
