html {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: 'Museo Sans', Candara, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-weight: 300;
  line-height: 1.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}

* {
  box-sizing: border-box;
}

.site-wrapper {
  height: 100%;
}

a {
  transition: border-color .2s ease-in-out;
  border-bottom: 1px dotted;
  color: #fff;
  text-decoration: none;

  &:hover {
    border-color: transparent;
  }
}

p {
  margin: 1rem 0;

  img {
    max-width: 100%;
  }
}

.hidden {
  visibility: hidden;
  display: none;
}

.no-scroll {
  @include ios-overflow-hidden();
}

@media (max-width: $cover-mobile-font-width) {
  html {
    font-size: 15px;
  }
}

@media print {
  @page {
    margin: 20px 35px;
  }

  html,
  body {
    height: auto;
  }

  a:after {
    content: '\000A0 (' attr(href) ')';
    display: inline-block;
  }

  footer.site-footer a:after {
    content: '';
  }
}

body.scrolls {
  &::-webkit-scrollbar,
  ::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track,
  ::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: none;
  }

  &::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
  }

  &::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .4);
  }
}
