blockquote {
  box-sizing: border-box;
  margin: 1.75em 0;
  padding: 0 0 0 1.75em;
  border-left: #4a4a4a .4em solid;
}

code,
tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: .85em;
  white-space: pre-wrap;
  border: #e3edf3 1px solid;
  background: #f7fafb;
  border-radius: 2px;
}

pre {
  background: #f7fafb;
  border: #e3edf3 1px solid;
  font-size: .9em;
  box-sizing: border-box;
  margin: 0 0 1.75em;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  white-space: pre;
  overflow: auto;
  border-radius: 3px;
}

pre[class*=language-].line-numbers code {
  padding-right: 3.8rem;
}

pre code,
pre tt {
  background: transparent;
  border: 0;
  font-size: inherit;
  padding: 0;
  white-space: pre-wrap;
}

p img {
  max-width: 100%;
}
