.icon {
  background-repeat: no-repeat;
  $icons: ('twitter', 'facebook', 'vk', 'github', 'linkedin', 'email');

  @for $i from 1 through length($icons) {
    $icon: nth($icons, $i);

    &.icon-#{$icon} {
      background-image: svg-load('res/#{$icon}.svg', fill=#fff, stroke=#fff);

      &.icon-black {
        background-image: svg-load('res/#{$icon}.svg', fill=#000, stroke=#000);
      }
    }
  }

  &.icon-loader {
    background-image: svg-load('res/loader.svg');
    animation: rotate 1s linear infinite;
  }
}
