.icon {
  background-repeat: no-repeat;
  background-position: 50%;

  @for $i from 1 through length($icons) {
    $icon: nth($icons, $i);

    &.icon-#{$icon} {
      background-image: svg-load('res/#{$icon}.svg', fill=#fff, stroke=#fff, color=#fff);

      &.icon-black {
        background-image: svg-load('res/#{$icon}.svg', fill=#000, stroke=#000, color=#000);
      }
    }
  }

  &.icon-loader {
    animation: rotate 1s linear infinite;
  }
}
