.ss-container {
  position: relative;
}

.ss-scroll {
  position: absolute;
  right: 0 !important;
  background: rgba(0, 0, 0, .5);
  width: 7px;
}

.ss-content {
  width: calc(100% + 18px);
  right: 0;
}
