$container-max-width: 1280px;

$cover-color: #375764;
$cover-background: #21417f;

$cover-mobile-font-width: 600px;
$cover-mobile-width: 555px;
$cover-mobile-height: 600px;
$cover-tablet-width: 555px;
$cover-tablet-height: 750px;
$cover-mobile-height-posts: 640px;
$cover-mobile-height-projects: 920px;

$icon-social-font-size: 2rem;
$icon-social-font-size-hover: 2.5rem;
$icon-social-size: 4rem;
$icon-social-size-hover: 4.5rem;

$icon-tablet-social-font-size: 1.5rem;
$icon-tablet-social-font-size-hover: 1.875rem;
$icon-tablet-social-size: 3rem;
$icon-tablet-social-size-hover: 3.375rem;

$post-padding: 0 1rem;
$post-width: 980px;
$post-mobile-width: 500px;

$pagination-color: #fff;
$paginator-span-margin: 0 5px;

$share-count: 3;
$share-icon-size: 2rem;
$share-margin: .25rem;

$read-next-height: 250px;

$header-mobile-size: 100px;
$header-tablet-size: 125px;

$icons: ('twitter', 'facebook', 'vk', 'github', 'linkedin', 'email', 'loader', 'arrow');
$icons-colors: ('black', 'white');
