@import "variables";

.cover-container {
  display: block;
  height: auto;
  min-height: 100%;

  > header {
    .social {
      display: table;
      margin: 0 auto;
      table-layout: fixed;

      a {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: $icon-social-size-hover + 1rem;
        height: $icon-social-size-hover + 1rem;

        &:before {
          margin: 0 auto;
        }
      }
    }

    @media (max-width: $cover-mobile-width), (max-height: $cover-mobile-height) {
      .social {
        display: block;

        a {
          display: inline-block;
          width: $icon-social-size-hover;
          height: $icon-social-size-hover;
          background-position: 50% 35%;
          margin: .2rem;

          &:before {
            margin-top: ($icon-social-size-hover - $icon-social-size) / 2;
          }

          &:hover:before {
            margin-top: 0;
          }
        }
      }
    }
  }

  > .section-container {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;

    &:after {
      clear: both;
      content: " ";
      display: table;
    }

    section {
      height: 100%;
      display: table-cell;
      width: 50%;

      > article {
        display: block;
      }
    }

    .pagination {
      float: right;
      margin-top: 16px;

      a {
        background: none;

        &.newer-posts:after {
          display: block;
          content: '←';
        }

        &.older-posts:after {
          display: block;
          content: '→';
        }
      }
    }

  }
}

.read-next {
  display: table;
  table-layout: fixed;
  border-spacing: 15px 0;
  width: $post-width/2;

  &.prev.next {
    width: $post-width;
  }

  .read-next-story {
    display: table-cell;
    width: 50%;
    max-width: 50%;
    vertical-align: middle;

    &:before {
      vertical-align: top;
      height: $read-next-height - 1;
    }
  }
}

.icon {
  @for $i from 1 through length($icons) {
    $icon: nth($icons, $i);

    @for $j from 1 through length($icons-colors) {
      $color: nth($icons-colors, $j);

      &.icon-#{$icon}.icon-#{$color} {
        background-image: url('../res/#{$icon}-#{$color}.png');
      }
    }
  }
}

@media (max-width: $cover-mobile-width) {
  .cover-container {
    min-height: 100vh;
  }
}

@media (max-width: $cover-mobile-width), (max-height: $cover-mobile-height) {
  .cover-container {
    > .section-container {
      section {
        display: block;
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
      }

      section:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: $post-width) {
  .read-next {
    width: 100%;
    max-width: 100%;
    display: block;

    .read-next-story {
      max-width: none;
      display: table;
      table-layout: fixed;
      margin: 1rem auto;
      width: 75%;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      h2 {
        margin-top: 3rem;
      }
    }
  }
}

@media (max-width: $post-mobile-width) {
  .read-next {
    .read-next-story {
      width: 100%;
    }
  }
}
