$cover-color: #375764;

$post-padding: 0 20px;
$post-width: 980px;
$post-mobile-width: 400px;
$cover-mobile-width: 555px;
$cover-mobile-height: 415px;

$pagination-color: #fff;
$paginator-span-margin: 0 5px;

$share-count: 3;
$share-font-size: 40px;
$share-margin: 5px;

$read-next-height: 250px;

$header-mobile-size: 100px;


@import "_mixin";
@import "_animations";

html, .site-wrapper {
  height: 100%;
}

body {
  font-family: 'Museo Sans', Candara, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.75rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}

a {
  @include transition(border-color 0.2s ease-in-out);
  border-bottom: 1px dotted;
  color: #FFFFFF;
  text-decoration: none;

  &:hover {
    border-color: transparent;
  }
}

footer.site-footer {
  font-size: 13px;
  line-height: 1rem;
}

.hidden {
  visibility: hidden;
  display: none;
}

@media print {
  @page {
    margin: 20px 35px;
  }

  html, body {
    height: auto;
  }

  a:after {
    content: '\000A0 (' attr(href) ')';
    display: inline-block;
  }

  footer.site-footer a:after {
    content: '';
  }
}

@import "scrollbar";
@import "elements";
@import "pages/cover/cover";
@import "pages/post/post";
