@import "_mixin";
@import "_animations";

$post-width: 980px;

html, body, .site-wrapper {
  height: 100%;
}

body {
  font-family: 'Museo Sans', Candara, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

a {
  @include transition(border-color 0.2s ease-in-out);
  border-bottom: 1px dotted;
  color: #FFFFFF;
  text-decoration: none;

  &:hover {
    border-color: transparent;
  }
}

footer.site-footer {
  font-size: 13px;
}

@import "pages/common";
@import "pages/cover/cover";
@import "pages/post/post";
